body {
  background-image: linear-gradient(to top, #d1ccd4 0%, white 100%);
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

.navigation {
  position: fixed;
  height: 920px;
  width: 150px;
  padding: 20px;
  margin-top: 0px;
  border: none;
  border-radius: 0px 40px 40px 0px;
  box-shadow: 5px 5px 20px #b8b4af;
  background-image: linear-gradient(to top, #852028 0%, #db3d44 100%);
}

.iconSide {
  display: block;
  margin: auto;
}

li {
  list-style: none;
  margin-bottom: 50px;
  color: rgb(241, 229, 212);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

li:link {
  text-decoration: none;
}

li:visited {
  text-decoration: none;
}

li:hover {
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

h3 {
  text-decoration: none;
}

h1 {
  margin-left: 300px;
  margin-top: 70px;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}

.lanaAvatar {
  margin-right: 20px;
  animation: spinner infinite 2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.homeCard {
  margin-top: -30px;
  display: inline-flex;
  flex-direction: row;
  margin-left: 300px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
