.member {
  width: 380px;

  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: black;

  margin-top: 20px;
  text-align: left;
  margin-bottom: 0px;
  box-shadow: 5px 5px 5px #ac9c87;
  background-image: linear-gradient(to top, #c0bed4 0%, #d8d2e6 100%);
  margin-left: 1180px;
}

.Member {
  margin-left: 15px;
}

.Icon {
  margin-left: 15px;
}
