.member {
  width: 380px;

  border: none;
  border-radius: 0px 0px 0px 40px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: black;

  margin-top: 0px;
  text-align: left;
  margin-bottom: 0px;
  box-shadow: 5px 5px 5px #b8b4af;
  background-image: linear-gradient(to top, #852028 0%, #db3d44 100%);
  margin-left: 1550px;
}

.Member {
  margin-left: 15px;
}

.Icon {
  margin-left: 15px;
}
