.StatTitle {
  margin-bottom: 100px;
}

.CardMemberStat {
  height: 400px;
  width: 600px;
  margin-top: 30px;
  border-radius: 20px;
  background-image: linear-gradient(
    to top,
    #a7a6cb 0%,
    #8989ba 52%,
    #8989ba 100%
  );
  border: none;
  box-shadow: 5px 5px 20px #b8b4af;
  margin-left: 300px;
  position: relative;
}

.CardTitleMember {
  margin-top: 20px;
  margin-left: 110px;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: white;
  position: relative;
}

.FilterStat {
  margin-top: -65px;
  margin-left: 90px;
}

.AvatarButton {
  background-image: linear-gradient(to top, #e6e9f0 0%, #dad1e2 100%);
  background-blend-mode: normal, color-burn;
  border: none;
  border-radius: 20px;
  margin: 10px;
  display: block;
  margin-left: -6px;
  margin-top: -146px;
  height: 400px;
  width: 100px;
}

.MemberAvatarStat {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.CardTitle {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: white;
  margin-left: 120px;
}

.LanaStat {
  text-align: left;
  margin-top: 20px;
  margin-left: 120px;
}

.DropdownStat {
  position: relative;
  margin-top: -75px;
  margin-left: 390px;
}

.DropName {
  box-shadow: none;
}

.TextStat {
  margin: 0;
  margin-left: 100px;
  margin-top: -90px;
}

.Name,
.Role {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
}

.Name {
  margin-top: 20px;
}
.TaskOverview {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
}

.CardVoiceTourStat {
  height: 400px;
  width: 800px;
  margin-top: -400px;
  border-radius: 20px;
  background-image: linear-gradient(
    to top,
    #a7a6cb 0%,
    #8989ba 52%,
    #8989ba 100%
  );
  border: none;
  box-shadow: 5px 5px 20px #b8b4af;
  margin-left: 1000px;
  display: block;
}

.FilterVT {
  margin-top: -65px;
  margin-left: 160px;
}

.DropdownVT {
  position: relative;
  margin-top: -75px;
  margin-left: 600px;
}

.VTButton {
  background-image: linear-gradient(to top, #e6e9f0 0%, #dad1e2 100%);
  background-blend-mode: normal, color-burn;
  border: none;
  border-radius: 20px;
  margin: 10px;
  display: block;
  margin-left: -6px;
  margin-top: -112px;
  height: 400px;
  width: 140px;
}

.Cat {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: black;
  margin-bottom: 20px;
  margin-top: 20px;
  background: none;
  border: none;
}

.Cat:hover {
  background: #db3d44;
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.YC {
  width: 140px;
  margin-top: 60px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: black;
  margin-bottom: 20px;
  background: none;
  border: none;
}

.YC:hover {
  background: #db3d44;
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.CardTitleVT {
  margin-top: 20px;
  margin-left: 150px;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: white;
  position: relative;
}

.TextVT {
  margin: 0;
  margin-left: 150px;
  margin-top: 0px;
}

.CardScriptTourStat {
  height: 400px;
  width: 800px;
  margin-top: 40px;
  border-radius: 20px;
  background-image: linear-gradient(
    to top,
    #a7a6cb 0%,
    #8989ba 52%,
    #8989ba 100%
  );
  border: none;
  box-shadow: 5px 5px 20px #b8b4af;
  margin-left: 300px;
  display: block;
  margin-bottom: 60px;
  position: relative;
}

.NameData {
  margin-left: 1220px;
  margin-top: 0px;
  display: block;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  width: 225px;
}

.SaveData {
  margin-left: 1480px;
  margin-top: -40px;
  display: block;
  padding: 10px;
  background-color: #db3d44;
  box-shadow: 5px 5px 5px #b8b4af;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  border: none;
  width: 200px;
}

.SaveData:hover {
  background-color: #b93037;
  box-shadow: 5px 5px 15px #b8b4af;
  cursor: pointer;
}

.ShareAvatar {
  margin-left: 1220px;
  margin-top: 50px;
}

.SelectAvatar {
  background: none;
  border: none;
}

.SelectAvatar:hover {
  background: #db3d44;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.ShareData {
  margin-left: 1480px;
  margin-top: -50px;
  display: block;
  padding: 10px;
  background-color: #db3d44;
  box-shadow: 5px 5px 5px #b8b4af;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  border: none;
  margin-bottom: 200px;
  width: 200px;
}

.ShareData:hover {
  background-color: #b93037;
  box-shadow: 5px 5px 15px #b8b4af;
  cursor: pointer;
}

.SaveTitle {
  margin-left: 1220px;
  margin-top: -370px;
  margin-bottom: 50px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}
