.CardMemberStat {
  height: 400px;
  width: 600px;
  margin-top: 30px;
  border-radius: 20px;
  background-color: #67678b;
  border: none;
  box-shadow: 5px 5px 20px #ac9c87;
  margin-left: 300px;
}

.CardTitleMember {
  margin-top: 30px;
  margin-left: 110px;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: white;
  position: relative;
}

.FilterStat {
  margin-top: -65px;
  margin-left: 90px;
}

.AvatarButton {
  background-image: linear-gradient(to top, #e6e9f0 0%, #dad1e2 100%);
  background-blend-mode: normal, color-burn;
  border: none;
  border-radius: 20px;
  margin: 10px;
  display: block;
  margin-left: -6px;
  margin-top: -156px;
  height: 400px;
  width: 100px;
}

.MemberAvatarStat {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.CardTitle {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: white;
  margin-left: 120px;
}

.LanaStat {
  text-align: left;
  margin-top: 20px;
  margin-left: 120px;
}

.DropdownStat {
  position: relative;
  margin-top: -75px;
  margin-left: 390px;
}

.DropName {
  box-shadow: none;
}

.TextStat {
  margin: 0;
  margin-left: 100px;
  margin-top: -90px;
}

.Name,
.Role {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
}

.Name {
  margin-top: 20px;
}
.TaskOverview {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
}
