.CardMemberStat {
  height: 400px;
  width: 600px;
  margin-top: 30px;
  border-radius: 20px;
  background-color: #67678b;
  border: none;
  box-shadow: 5px 5px 20px #ac9c87;
}

.AvatarButton {
  background-image: linear-gradient(to top, #e6e9f0 0%, #dad1e2 100%);
  background-blend-mode: normal, color-burn;
  border: none;
  border-radius: 20px;
  margin: 10px;
  display: block;
  margin-left: -6px;
  margin-top: -74px;
  height: 400px;
  width: 100px;
}

.MemberAvatarStat {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.CardTitle {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: white;
  margin-left: 120px;
}
